///////////////////////////////////////////////



// Компания кабинетная



.cabсompany-logo {
	display: inline-block;
	width: 100%;
	height: 100%;
	min-width: 60px;
	min-height: 60px;
	max-width: 165px;
	max-height: 165px;
	text-align: center;
	line-height: 155px;
	border: solid 1px $color-border;
	padding: 5px;

	@include respond-to(media-xs) {
		margin-bottom: 2rem;
	}

	img {
		width: 100%;
		height: auto;
	}

	&.logo--edit {
		float: left;
		margin-right: 3rem;
	}

}

.cabсompany-additoffice {
	position: relative;
	padding-right: 10rem;
	margin: 0.8rem 0 1.2rem 0;

	.b-microtool {
		position: absolute;
		z-index: 2;
		right: 0;
	}

}

.cabсompany-btn {
	display: block;
	margin: 3rem auto 0 auto;
	text-transform: uppercase;
}



.block-cabcompany {
	font: normal $font-size-base $font-family-cond;
	line-height: $line-height-def;
	color: $c-gray-darker;
	margin-bottom: 3rem;

	.cabcompany__name {
		font-size: $font-size-hdr;
		font-weight: bold;
	}

	.cabcompany__type {
		font-size: $font-size-basemax;
		font-weight: normal;
		color: $c-gray;

		&:before {
			color: $c-gray;
			content: '/';
			margin-left: 0.5rem;
			padding-right: 0.5rem;
		}

	}

	.cabcompany__address {
		padding-left: 2rem;
		@include clearfix;

		&:before {
			font-family: $fontawesome;
			color: $c-blue-light;
			content: "\f041";
			margin-left: -2rem;
			position: relative;
			top: 2rem;
		}

		span {
			float: left;
			display: inline-block;
			font-family: $font-family-cond;
			font-size: $font-size-basemax;
			color: $c-gray-darker;
			margin-right: 0.5rem;
			line-height: $line-height-def;

			&:after {
				color: $c-gray;
				content: '/';
				margin-left: 0.5rem;
			}

			&:last-child {

				&:after {
					content: '';
				}

			}

		}

	}

	.cabcompany__phones {
		display: block;
		margin-top: 1rem;
		font-family: $font-family-cond;
		font-size: $font-size-base;
		color: $c-gray-dark;
		line-height: $line-height-def;
		padding-left: 2rem;

		@include respond-to(media-xs) {
			margin-top: 1rem;
			margin-bottom: 2rem;
		}

		&:before {
			font-family: $fontawesome;
			color: $c-blue-light;
			content: "\f095";
			margin-left: -2rem;
			margin-right: 0.3rem;
		}

		a  {
			margin-top: -2rem;
			color: $c-gray-darker;
			text-decoration: none;
			font-weight: bold;
			font-size: 2.5rem;
			white-space: nowrap;

			&:hover {
				color: $c-gray-darker;
				text-decoration: none;
			}

		}

		span {
			font-size: $font-size-base !important;
		}

	}

	.tool-box {
		margin-top: 3rem;
	}

	.b-tool {
		margin: 0 2rem 1rem -0.5rem;
	}

	.b-lonetool {
		margin: 0;
	}

}

