///////////////////////////////////////////////



// Юзер кабинетный



.cabuser-img {
	display: inline-block;
	width: 100%;
	max-width: 240px;
	height: 240px;
	max-height: 240px;
	text-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top left;

	@include respond-to(media-xs) {
		margin-bottom: 6rem;
		height: 200px;
	}

	img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}

}



.block-cabuser {
	font: normal $font-size-base $font-family-cond;
	line-height: $line-height-def;
	color: $c-gray-darker;
	margin-bottom: 3rem;

	.cabuser__name {
		font-size: $font-size-hdr;
		font-weight: bold;
	}

	.cabuser__timestamp {
		display: block;
		font-size: $font-size-base;
		font-weight: normal;
		color: $c-gray;
		margin-top: -1rem;
	}

	.cabuser__address {

	}

	.cabuser__age {

	}

	.cabuser__profession {

	}

	.tool-box {
		margin-top: 3rem;
	}

	.b-tool {
		margin: 0 2rem 1rem -0.5rem;
	}

	.b-lonetool {
		margin: 0;
	}

}


