///////////////////////////////////////////////



// консультант (менеджер по продажам туров)


.block-consult {
	border: solid 2px $c-gray-lighter;
	border-radius: 5px;
	padding: 1.5rem;
	height: 100%;
	@include clearfix;

	@include respond-to(media-xs) {
		margin-bottom: 3rem;
	}
	@include respond-to(media-sm) {
		margin-bottom: 3rem;
	}

	.consult__img {
		float: left;
		width: 6rem;
		margin-right: 1rem;
		margin-bottom: 0.5rem;

		img {
			width: 100%;
			height: auto;
			border: solid 1px $c-white;
		}

	}

	.consult__descript {
		float: left;
		font-family: $font-family-cond;

		.consult_name {
			font-size: $font-size-base;
			font-weight: bold;
			margin: 0 0 0.5rem 0;
		}

		.consult_prof {
			font-size: $font-size-basemin;
			color: $c-gray-dark;
			margin: 0 0 0.5rem 0;
		}

		.consult_tel {
			display: inline-block;
			font-size: 1.5rem;
			color: $color-text;
			font-weight: bold;
			text-decoration: none;
			line-height: 0.8;
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;

			span {
				font-size: 2.1rem;
				white-space: nowrap;
				margin-left: 0.6rem;
			}

		}

	}

	.consult__msgrs {
		margin: 1rem -1rem 1rem 0;
		@include clearfix;

		a {
			float: left;
			display: inline-block;
			margin-right: 2rem;

			img {
				width: 3rem;
				height: 3rem;
			}

		}

	}

	.consult__btns {
		margin-right: -1rem;
		@include clearfix;

		.b-btn {
			float: left;
			display: inline-block;
			font-size: $font-size-basemin;
			margin-top: 0.5rem;
			margin-right: 1rem;
			padding-left: 1rem;
			padding-right: 1rem;

			.fa {
				margin-right: 0.5rem;
			}

		}

	}

}



.consult-popup {
	display: none;
	position: fixed;
	z-index: 9;
	bottom: 2rem;
	right: 2rem;
	width: 320px;
	height: 200px;
	background: $c-blue-lightermore;
	border: solid 2px lighten($c-blue-light, 35%);
	border-radius: 5px;
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.15);

	button.close {
		position: absolute;
		top: 0;
		right: 0.5rem;
		color: $c-blue-light;
	}

	.block-consult {
		border: none;
	}

}