///////////////////////////////////////////////



// вопрос краткий


.block-faq {
	@include clearfix;
	padding-bottom: 2.5rem;
	margin-bottom: 3rem;
	border-bottom: solid 1px $color-dlv;

	.faq__user {
		float: left;
		display: inline-block;
		width: 15%;
		padding-right: 1.5rem;
		text-align: center;

		@include respond-to(media-xs) {
			display: block;
			float: none;
			width: 15%;
			margin-right: 0;
			margin-bottom: 1.5rem;
			@include clearfix;
		}

	}

	.faq__descript {
		float: left;
		display: inline-block;
		width: 85%;
		font-size: $font-size-basemin;
		color: $c-gray-dark;
		margin-top: 0.5rem;

		a {
			color: $c-gray-dark;

			&:hover {
				color: $c-gray-darker;
				text-decoration: none;
			}

		}

		@include respond-to(media-xs) {
			display: block;
			float: none;
			width: 100%;
			margin-top: 0;
		}

		.descript-name {
			margin-bottom: 1rem;
		}

	}

	.faq__result {
		display: block;
		font-size: $font-size-12;
		font-family: $font-family-cond;
		background: $c-blue-lightermore;
		color: $c-blue;
		text-align: center;
		padding: 0.5rem;
		border-radius: 5px 5px 5px 0;

		@include respond-to(media-xs) {
			border-radius: 0 5px 5px 5px;
		}

		&:hover {
			text-decoration: none;
			color: $color-link-hover;
			background: $c-gray-lightermore;
		}

		strong {
			font-size: $font-size-hdr
		}

		&.faq__result--empty {
			background: $c-gray-lightermore;
			color: $c-gray;
		}

	}

}