///////////////////////////////////////////////



// заказ


.block-order {
	@include clearfix;
	margin-top: 3rem;
	margin-bottom: 3rem;

	&__note {
		font-size: $font-size-basemin;
		color: $c-gray-dark;
		margin-bottom: 3rem;
	}

	&__price {
		text-align: center;
		font-size: 3.54rem;
		font-weight: bold;
		color: $c-red;

		.fa {
			font-size: 2.5rem;
			margin-left: 0.5rem;
		}

		span {
			display: block;
			font-weight: normal;
			font-size: $font-size-basemin;
			color: $c-gray-dark;
			margin-bottom: 0.4rem;
		}

	}

	.b-formbtn {
		margin-top: 1rem;
		width: 240px;
		text-transform: uppercase;
	}

}