///////////////////////////////////////////////



// фотоальбом


.block-photoalbum {
	display: block;
	padding: 0;
	width: 100%;
	column-count: 3;
	column-gap: 1px;

	@include respond-to(media-xs) {
		column-count: 1;
	}

	img {
		width: 100%;
		height: auto;
		margin-bottom: 1px;

		@include respond-to(media-xs) {
			margin-bottom: 15px;
			max-width: 380px;
		}

	}

}