///////////////////////////////////////////////



// слайдер простой


.block-slider {

}

.block-slider--photoalbum {
	margin-top: 3rem;
	margin-bottom: 3rem;

	.slick-slide {
		max-width: 290px;
	}

}

.block-slider--plate {

	.slick-slide {
		max-width: 290px;
		background: $c-gray-lightermore;
		border: solid 1px $c-gray-lighter;
		min-height: 37rem;
	}

	p {
		line-height: $line-height-def;
	}

	.descript {
		font-size: $font-size-basemin;
		margin: 1rem 1.5rem 1.5rem 1.5rem;

		&__hdr {
			font: bold $font-size-base $font-family-cond;
		}

	}

}

.block-slider--sized {

	.slick-slide {
		height: 180px;
		position: relative;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;

		a {
			display: block;
			height: 100%;
		}

	}

}