///////////////////////////////////////////////



// где купить туры


.aside-tourcontact {
	margin-bottom: 5rem;

	.hdr-h2 {
		margin-bottom: 0.5rem;
	}

}



.block-tourcontact {
	background: $c-gray-lightermore;
	padding: 1.5rem;
	height: 100%;
	max-width: $block-max;
	margin-top: 0.3rem;
	margin-bottom: 3rem;
	@include clearfix;
}