.header {
	background-color: $color-bk-header;

	@include respond-to(media-xs) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		border-bottom: solid 1px $c-gray-lighter;
	}

	.headerwrap {
		position: relative;
		max-width: $m-max;
		min-width: $m-min;
		width: 100%;
		margin: 0 auto;
		padding-left: 30px;
		padding-right: 30px;
		@include clearfix;

		@include respond-to(media-xs) {
			padding-left: 15px;
			padding-right: 15px;
		}

	}

}



.header-top {
	@include clearfix;
	border-bottom: dotted 1px $color-border;
	padding-top: 0.8rem;
	padding-bottom: 0.6rem;
	min-height: 4rem;

	h1 {
		display: inline-block;
		float: left;
		width: 60%;
		margin: 0.5rem 0 0 0;
		font: $font-size-basemin $font-family-base;
		color: $c-gray;
		text-transform: none;
	}

}



.header-top__cabinet {
	display: inline-block;
	float: right;
	position: relative;
	width: 40%;
	text-align: right;
	@include clearfix;



}



.header-base {
	@include clearfix;
	padding-top: 2rem;
	padding-bottom: 2rem;

	@include respond-to(media-xs) {
		padding-top: 0.5rem;
		padding-bottom: 0.3rem;
	}

	.header-base__logo {
		float: left;
		position: relative;
		display: block;
		height: 70px;
		width: 25%;
		min-width: 30rem;
		z-index: 9;
		background-position: left;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url("../img/logo.svg");

		@include respond-to(media-sm) {
			height: 50px;
			min-width: 23rem;
		}

		@include respond-to(media-xs) {
			height: 26px;
			min-width: 115px;
			background-image: url("../img/logo-xs.svg");
		}

		.slogan {
			font-size: $font-size-basemin;
			color: $c-yellow-light;
			position: absolute;
			top: 8px;
			left: 80px;

			@include respond-to(media-sm) {
				font-size: $font-size-12;
				top: 4px;
				left: 58px;
			}

		}

	}

	.header-base__nav {
		float: left;
		position: relative;
		display: inline-block;
		width: 75%;
	}

}



.header-tourpicking {
	padding: 2rem;
	background: $c-yellow-light url("../img/bk-fm1.jpg") no-repeat fixed top center;
	border-radius: 5px 5px 0 0;

	@include respond-to(media-sm) {
		background-size: 180%;
	}

	@include respond-to(media-xs) {
		border-radius: 0;
		margin: 4rem 0 0 0;
		background-size: 260%;
	}

}































