///////////////////////////////////////////////



// базовые блоки


.v-base-block {
	max-width: $block-max;
	height: 100%;
	position: relative;
	margin-bottom: 3rem;

	@include respond-to(media-xs) {
		margin-bottom: 3rem;
		padding-bottom: 0;
	}

	.block__img {
		max-width: 260px;
		margin-bottom: 1.5rem;

		img {
			width: 100%;
			height: auto;
		}

	}

	.block__date {
		font-family: $font-family-cond;
		font-size: $font-size-base;
		color: $c-yellow;
		margin-bottom: 0.8rem;
		position: relative;
	}

	.block__address {
		font-family: $font-family-cond;
		font-size: $font-size-base;
		color: $c-black;
		line-height: 1.4;
		margin-bottom: 0.8rem;

		a {
			color: $c-gray-darker;
			text-decoration: underline;

			&:hover {
				color: $color-link-hover;
			}

		}

		&-date {
			display: inline-block;
			font-size: $font-size-base;
			color: $c-yellow;
			margin-right: 1rem;
			position: relative;
		}

	}

	.block__descript {
		color: $c-gray-dark;
		font-size: $font-size-basemin;

		&-hdr {
			color: $color-link-hdr;
			font: bold $font-size-basemax $font-family-cond;
			line-height: $line-height-def;
		}

		&-img {
			max-width: 260px;
			margin-bottom: 1.5rem;

			img {
				width: 100%;
				height: auto;
			}

		}

	}

	a {
		text-decoration: none;
		color: $c-gray-dark;

		&:hover {
			color: $c-gray-darker;
			text-decoration: none;

			.block__descript-hdr {
				color: $color-link-hover;
				text-decoration: underline;
			}

		}

	}

	.block__footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}

}


.h-base-block {
	margin-top: 3rem;

	@include respond-to(media-xs) {
		margin-bottom: 2rem;
		padding-bottom: 0;
	}


	.block__img {

		@include respond-to(media-xs) {
			max-width: 260px;
			margin-bottom: 1.5rem;
		}

		img {
			width: 100%;
			height: auto;
		}

	}

	.block__date {
		font-family: $font-family-cond;
		font-size: $font-size-base;
		color: $c-yellow;
		margin-bottom: 0.8rem;
		position: relative;
	}

	.block__address {
		font-family: $font-family-cond;
		font-size: $font-size-base;
		color: $c-black;
		line-height: 1.4;
		margin-bottom: 0.8rem;

		a {
			color: $c-gray-darker;
			text-decoration: underline;

			&:hover {
				color: $color-link-hover;
			}

		}

		&-date {
			display: inline-block;
			font-size: $font-size-base;
			color: $c-yellow;
			margin-right: 1rem;
			position: relative;
		}

	}

	.block__descript {
		color: $c-gray-dark;
		font-size: $font-size-basemin;

		&-hdr {
			color: $color-link-hdr;
			font: bold $font-size-basemax $font-family-cond;
			line-height: $line-height-def;
		}

	}

	a {
		text-decoration: none;
		color: $c-gray-dark;

		&:hover {
			color: $c-gray-darker;
			text-decoration: none;

			.block__descript-hdr {
				color: $color-link-hover;
				text-decoration: underline;
			}

		}

	}

}


.panel-block {

	&__prop {
		font-family: $font-family-cond;
		color: $c-gray-dark;
		padding: 0.5rem 15px 0.6rem 15px;

		@include respond-to(media-xs) {
			padding-bottom: 0.2rem;
		}

	}

	&__val {
		padding: 0.6rem 15px 0.6rem 15px;

		@include respond-to(media-xs) {
			padding-top: 0.2rem;
		}

	}

	&__pic {
		padding: 0 15px 0 15px;

		@include respond-to(media-xs) {
			padding-top: 0;
		}

		img {
			margin-right: 0.5rem;
			margin-bottom: 0.5rem;
		}

	}

}



.plate-editpanel {
	border-top: dotted 1px $color-border;
	margin-top: 0;
	margin-bottom: 0;
}

.editpanel-block {
	border-bottom: dotted 1px $color-border;
	padding: 1.5rem 0 0 0;

	&__prop {
		font-family: $font-family-cond;
		color: $c-gray-dark;
		padding: 1rem 15px;

		@include respond-to(media-xs) {
			padding-bottom: 0.2rem;
		}

	}

	&__val {
		padding: 1rem 15px;

		@include respond-to(media-xs) {
			padding-top: 0.2rem;
		}

	}

	&__ch {

		input[type="text"],
		select {
			margin-top: 0.6rem;
			margin-bottom: 0.6rem;
		}

		input[type="checkbox"] {
			margin: 0 0.6rem;

			@include respond-to(media-xs) {
				margin-left: 0;
				margin-right: 1rem;
			}

		}

		.control-label {

			> div {
				display: inline-block;

				@include respond-to(media-xs) {
					float: right;
					margin-top: 0.6rem;
				}

			}

		}

	}

	.addit-panel {
		@include clearfix;
		position: relative;
		padding-right: 8rem;
		padding-bottom: 0.5rem;
		margin: 0 0 1.2rem 0;
		border-bottom: dashed 1px $c-gray-lighter;

		.b-microtool {
			position: absolute;
			z-index: 2;
			right: 0;
			bottom: 1rem;
		}

	}

	input[type="checkbox"] {
		margin-top: 0.4rem;
	}

}







































