///////////////////////////////////////////////



// формы


FORM {

	&.form-inline {

		.form-group {

			@include respond-to(media-xs) {
				width: 100% !important;
			}

		}

		.form-control {
			width: 100%;
		}

	}

}


FORM TD {
	padding: 0.5rem 1rem 0.5rem 0;
}

label {
	font-family: $font-family-cond;
	font-weight: normal !important;
	color: $c-gray-dark;
	cursor: pointer;
	line-height: $line-height-min;

	@include respond-to(media-sm) {
		margin-top: 1px;
	}

	&.label--ch {
		color: $color-fields;
		margin-right: 1rem;
		white-space: nowrap;
	}

}

INPUT,
SELECT,
TEXTAREA {
	font-size: $font-size-base !important;
	font-family: $font-family-base !important;
	color: $color-fields !important;
	padding-left: 0.8rem !important;
	padding-right: 0.8rem !important;

	&:focus {
		outline: none;
	}

}

INPUT[type="checkbox"] {
	width: 1.8rem;
	height: 1.8rem;
	margin-right: 0.5rem;
	top: 0.2rem;
	position: relative;
}

INPUT[type="radio"] {
	width: 1.8rem;
	height: 1.8rem;
	top: 0.3rem;
	margin-bottom: 1.2rem;
	position: relative;
}

INPUT[type="file"] {
	height: 3rem;
	margin-right: 0.5rem;
	position: relative;
	top: 0.5rem;
	left: -0.7rem;
}

.hastouchspin,
.bootstrap-touchspin-up,
.bootstrap-touchspin-down {
	height: 34px;
}



.form-note {
	color: $c-gray-dark;
	font-size: $font-size-note;
	margin-top: 2rem;
	margin-bottom: 0;
}

.form-sublink {
	display: inline-block;
	font-family: $font-family-cond;
	margin-top: 1rem;
}

.form-captcha {
	width: 80px;
	height: 26px;
	margin: 0.5rem 0;
}

.required {

	&:before {
		margin-right: 0.5rem;
		content: '*';
	//font-size: 2.1rem;
		color: $c-red;
		text-decoration: none;
		font-family: $font-family-base;
	}

}

.fld-note {
	color: $c-gray;
	font-size: $font-size-note;
	margin: 0.5rem 0 0 0.4rem;
}




.form-group-inline {
	margin-left: -5px;
	margin-right: -5px;
	@include clearfix;

	.form-group {
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 1.5rem;
		display: inline-block;
	}

}

.form-fld-inline {
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: -0.5rem;
	@include clearfix;

	> div {
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 0.5rem;
		display: inline-block;
	}

}





.formtype-search {

	.form-group {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;

		@include respond-to(media-xs) {
			margin-bottom: 0;
		}

	}

	label {
		color: $c-gray-darker;
		font-family: $font-family-cond;
		font-size: $font-size-basemin;
		white-space: nowrap;
		overflow: hidden;
		padding: 1px 0.6rem 3px 0.6rem;
		margin-bottom: 2px;
		border-radius: 2px;
		background-color: transparentize($c-white, 0.4);

		@include respond-to(media-xs) {
			padding: 1px 0.3rem 2px 0.3rem;
		}

		@include respond-to(media-sm) {
			padding: 1px 0.3rem 2px 0.3rem;
		}

		@include respond-to(media-lg) {
			font-size: $font-size-base;
		}

		&.label--ch {
			background: transparent;
			font-size: $font-size-base;
			margin-top: -0.2rem;
			white-space: normal;

			@include respond-to(media-xs) {
				margin-top: -0.8rem;
			}

		}

	}

	INPUT[type="checkbox"] {
		width: 2rem;
		height: 2rem;
		top: 0.4rem;
	}


	.form-group--bold {

		label {
			color: $c-white;
			font-size: $font-size-base;
			font-weight: bold;
			background-color: transparent;
			margin-bottom: 0;

			@include respond-to(media-lg) {
				margin-bottom: 2px;
			}

		}

		input,
		select,
		textarea {
			font-weight: bold;
		}

	}


}





.formtype-collapse {

	.form-group {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;

		@include respond-to(media-xs) {
			margin-bottom: 0;
		}

	}

	label {
		color: $c-gray-darker;
		font-family: $font-family-cond;
		font-size: $font-size-basemin;
		white-space: nowrap;
		overflow: hidden;
		padding: 1px 0.6rem 3px 0.6rem;
		margin-bottom: 2px;
		border-radius: 2px;
		background-color: transparentize($c-white, 0.4);

		@include respond-to(media-xs) {
			padding: 1px 0.3rem 2px 0.3rem;
		}

		@include respond-to(media-sm) {
			padding: 1px 0.3rem 2px 0.3rem;
		}

		@include respond-to(media-lg) {
			font-size: $font-size-base;
		}

		&.label--ch {
			background: transparent;
			font-size: $font-size-base;
			margin-top: -0.2rem;
			white-space: normal;
			color: $c-blue-lightermore;

			@include respond-to(media-xs) {
				margin-top: -0.8rem;
			}

		}

	}

	INPUT[type="checkbox"] {
		width: 2rem;
		height: 2rem;
		top: 0.4rem;
	}


	.form-group--bold {

		label {
			color: $c-white;
			font-size: $font-size-base;
			font-weight: bold;
			background-color: transparent;
			margin-bottom: 0;

			@include respond-to(media-lg) {
				margin-bottom: 2px;
			}

		}

		input,
		select,
		textarea {
			font-weight: bold;
		}

	}


}





.formtype-bgblue {
	padding: 3rem;
	background: $c-blue;

	@include respond-to(media-xs) {
		padding: 1.5rem;
	}

	label {
		color: $c-blue-lightermore;
	}

	.required {

		&:before {
			color: $c-red-light !important;
		}

	}

	.form-note {
		color: $c-blue-lighter;

		a {
			color: $c-white;

			&:hover {
				color: $color-link-hover;
			}

		}

	}

}




.timeperiod-panel {
	@include clearfix;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;

	* {
		display: inline-block;
		float: left;
	}

	input {
		width: 10rem;
	}

	span {
		margin: 0.6rem 0.5rem;
	}

}