///////////////////////////////////////////////



// панель


.panel {
	border: none;
	border-radius: 0;
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding: 3rem;
	background: $c-gray-lightermore;

	@include respond-to(media-xs) {
		padding: 3rem 1.5rem;
	}

	.panel-heading {
		font-size: 2.1rem;
		font-weight: bold;
		color: $c-black;
		margin: 0 0 2rem 0;
		padding: 0;
		line-height: $line-height-min;
		border-radius: 0;
	}

	.panel-body {
		margin: 0;
		padding: 0;
		border: none;
	}

}


.panel-cite {
	background: $c-white;
	border-left: solid 2px $c-blue;
	line-height: $line-height-min;
	padding: 0 0 0 2rem;
	margin: 3rem 0;
	font-size: $font-size-basemin;
	color: $c-gray-dark;

	@include respond-to(media-xs) {
		padding: 1.5rem;
	}

	.panel-heading {
		color: $c-blue;
		font-size: $font-size-h3;
		font-weight: bold;
		padding: 1rem 0 0 0;
		margin-bottom: 1rem;
	}

	.panel-body {
		font-size: $font-size-basemin;
		color: $c-gray-dark;
		line-height: $line-height-min;
		padding: 0;
	}

	&.panel--danger {
		border-color: $c-red;

		.panel-heading {
			color: $c-red;
			font-size: $font-size-base;
			font-weight: bold;
			background: transparent;
			border: 0;
		}

	}

}


.panel-quest {
	position: relative;

	&__btn {
		@include clearfix;

		button {
			margin: 0;
			padding: 0;
			float: right;
			width: 3rem;
			height: 3rem;
			line-height: 1;
			font: 3rem $fontawesome;
			opacity: 0.75;
			cursor: help;
			color: $c-white;
			border: none;
			background: none;

			&:before {
				content: "\f059";
			}

			&:hover {
				opacity: 1;
			}

		}

	}

	&__pane {
		display: none;
		margin: -0.1rem 0 3rem 0;
		background: $c-white;
		padding: 1.5rem;
		font-size: $font-size-basemin;
		color: $c-gray-dark;
		border-radius: 5px 0 5px 5px;

		.hdr {
			font: bold $font-size-basemax $font-family-cond;
		}

	}

}




.panel-info {
	border: solid 2px $c-gray-lighter;
	border-radius: 5px;
	margin-top: 3rem;
	margin-bottom: 3rem;
	background: $c-white;
	@include box-shadow(0 1px 1px rgba(0,0,0,.15));

	.panel-heading {
		font: bold $font-size-h3 $font-family-cond;
		color: $c-black;
		padding: 0.8rem 1.5rem;
		line-height: $line-height-min;
		border-bottom: solid 1px $c-gray-lighter;
		background: $c-gray-lightermore;
	}

	.panel-body {
		font-size: $font-size-basemin;
		padding: 1.5rem 1.5rem 0.5rem 1.5rem;
		color: $c-gray-darker;
	}

}


.panel--danger {
	border-color: transparentize($c-red, 0.6);

	.panel-heading {
		color: $c-red;
		background: transparentize($c-red, 0.85);
		border-color: transparentize($c-red, 0.8);
	}

}

.panel--info {
	border-color: transparentize($c-blue, 0.6);

	.panel-heading {
		color: $c-blue;
		background: transparentize($c-blue, 0.85);
		border-color: transparentize($c-blue, 0.8);
	}

}

.panel--success {
	border-color: transparentize($c-green, 0.6);

	.panel-heading {
		color: $c-green;
		background: transparentize($c-green, 0.85);
		border-color: transparentize($c-green, 0.8);
	}

}




.panel--grayed {
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding: 3rem;
	background: $c-gray-lightermore;

	@include respond-to(media-xs) {
		padding: 1.5rem;
	}


}




















