///////////////////////////////////////////////



// картинки

.pic-thumb {
	background: $c-gray-lightermore;
	margin-bottom: 0;
	margin-top: 0.4rem;
	position: relative;
	z-index: 1;

	@include respond-to(media-xs) {
		max-width: $m-min;
		margin-bottom: 1.5rem;
	}

	img {
		width: 100%;
		height: auto;
	}

	a {
		color: $color-link;

		&:hover {
			color: $color-link-hover;
			text-decoration: underline;
		}

	}

	&.thumb--ftr {
		padding-bottom: 5rem;
	}

	&.thumb--bigpic {
		background: none;
		text-align: center;
		max-width: 800px;
		margin: 1.5rem auto;

		.pic-thumb__txt {
			font-size: $font-size-basemin;
			padding: 1.5rem 0;
		}

	}

	&__txt {
		font-size: $font-size-note;
		color: $c-gray-dark;
		text-align: center;
		padding: 0.8rem;
	}

	&__ftr {
		position: absolute;
		z-index: 3;
		bottom: 0;
		width: 100%;
		font-size: $font-size-base;
		text-align: center;
		padding: 0.8rem;
		font-weight: bold;
	}

	&__copy {
		position: absolute;
		z-index: 2;
		font-size: 1rem;
		color: $c-white;
		text-shadow: $c-black;
		right: 0.5rem;
		top: 0.3rem;
		text-align: right;
		line-height: 1;
		opacity: 0.75;

		a {
			color: $c-white;
			text-shadow: $c-black;
			text-decoration: none;
		}

	}

	&__copy-negative {
		position: absolute;
		z-index: 2;
		font-size: 1rem;
		color: $c-white;
		text-shadow: $c-black;
		right: 0.3rem;
		top: 0.3rem;
		text-align: right;
		line-height: 1;
		background: transparentize($c-black, 0.5);
		padding: 0.3rem 0.5rem;
		border-radius: 3px;

		a {
			color: $c-white;
			text-shadow: $c-black;
			text-decoration: none;
		}

	}

}

.thumb--content {
	max-width: 280px;
}

.thumb--l {
	float: left;
	margin-right: 1.5rem;

	@include respond-to(media-xs) {
		float: none;
		margin-right: 0;
	}

}

.thumb--r {
	float: right;
	margin-left: 1.5rem;

	@include respond-to(media-xs) {
		float: none;
		margin-left: 0;
	}

}


.nophoto {
	background: $c-blue-lightermore url("../img/no-photo.png") 50% 50% no-repeat;
	min-width: 280px;
	min-height: 180px;
}


.maxpic {
	margin: 3rem auto;
	text-align: center;

	img {
		width: 100%;
		height: auto;
	}

}