///////////////////////////////////////////////



// страница Личный кабинет



// кабинет пользователя
.page-cabuser {

}

.ac_cabuser-about {}

.ac_cabuser-info {}

	.sc_cabuser-chronicle {}

	.sc_cabuser-messages {}

	.sc_cabuser-photoalbums {}

	.sc_cabuser-photos {}

.ac_cabuser-edit {}



// кабинет компании
.page-cabсompany {

}

.ac_cabcompany-about {}

.ac_cabcompany-info {}

	.sc_cabcompany-hots-list {}

	.sc_cabcompany-hots {}

.ac_cabcompany-edit {}

	.sc_cabcompany-edit-info {}

	.sc_cabcompany-edit-cpub {}

	.sc_cabcompany-edit-cdesk {}

	.sc_cabcompany-edit-serv {}