///////////////////////////////////////////////



// страница Курсы валют



.page-country {

}



// артиклы

.ac_exchanges-main {}



.ac_exchanges {}



.ac_exchanges-convertor {}

	.ac_exchanges-convertor__form {
		margin-bottom: 5rem;
	}



.ac_exchanges-cross {}

	.sc_exchanges-cross__result {
		margin-bottom: 5rem;
	}

	.sc_exchanges-cross__infoval {
		margin-bottom: 3rem;
	}

	.sc_exchanges-cross__otherval {

	}