///////////////////////////////////////////////



// страница Каталог турфирм



.page-travelcompany-list {

}



// артиклы

.ac_travelcompany-list {

	.b-lonetool {
		margin-top: 0;
		margin-bottom: 5rem;

		@include respond-to(media-xs) {
			margin-top: 3rem;
		}

	}

}

.ac_travelcompany-list-subscript {}