<div class="consult-popup">

	<!-- <button type="button" class="close">&times;</button> -->

	<div class="block-consult">
		<div class="hdr-h2 hdr--lined"><ins class="emphas bk--blue"></ins>Менеджер по продажам туров</div>
		<div class="clearfix">
			<div class="consult__img">
				<img src="img/consultant.jpg" alt="">
			</div>
			<div class="consult__descript">
				<div class="consult_name">Ирина Вставская</div>
				<div class="consult_prof">турфирма «Мария»</div>
				<a href="tel:+74953089897" class="consult_tel">+7&nbsp;495<span>308-98-97</span></a>
			</div>
		</div>
		<div class="clearfix">
			<div class="consult__btns">
				<button class="consult_btn-call b-btn" data-toggle="modal" data-target="#modal__call"><i class="fa fa-phone"></i>Заказать звонок</button>
				<button class="consult_btn-mess b-btn" data-toggle="modal" data-target="#modal__mess"><i class="fa fa-pencil"></i>Оставить заявку</button>
			</div>
		</div>
	</div>

</div>




