<div class="block-consult">
	<button type="button" class="b-btn consult__refresh" title="Обновить данные"><i class="fa fa-refresh" aria-hidden="true"></i></button>
	<div class="hdr-h2 hdr--lined"><ins class="emphas bk--red"></ins>Менеджер по продажам туров</div>
	<div class="clearfix">
		<div class="consult__img">
			<img src="img/consultant.jpg" alt="">
		</div>
		<div class="consult__descript">
			<div class="consult_name">Ирина Вставская</div>
			<div class="consult_prof">турфирма «Мария»</div>
			<a href="tel:+74953089897" class="consult_tel">+7&nbsp;495<span>308-98-97</span></a>
		</div>
	</div>
	<div class="clearfix">
		<div class="consult__msgrs">
			<a href="#"><img src="img/icons/im-fbm.svg" alt="Facebook Messenger" title="Связаться через Facebook Messenger"></a>
			<a href="#"><img src="img/icons/im-telegram.svg" alt="Telegram" title="Связаться через Telegram"></a>
			<a href="#"><img src="img/icons/im-viber.svg" alt="Viber" title="Связаться через Viber"></a>
			<a href="#"><img src="img/icons/im-whatsup.svg" alt="WhatsUp" title="Связаться через WhatsUp"></a>
			<a href="#"><img src="img/icons/im-skype.svg" alt="Skype" title="Связаться через Skype"></a>
			<a href="#"><img src="img/icons/im-icq.svg" alt="ICQ" title="Связаться через ICQ"></a>
		</div>
	</div>
	<div class="clearfix">
		<div class="consult__btns">
			<button class="consult_btn-call b-btn" data-toggle="modal" data-target="#modal__call"><i class="fa fa-phone"></i>Заказать звонок</button>
			<button class="consult_btn-mess b-btn" data-toggle="modal" data-target="#modal__mess"><i class="fa fa-pencil"></i>Оставить заявку</button>
		</div>
	</div>
</div>




