<header class="header">
	<div class="headerwrap">



		<div class="header-top hidden-xs">


			<h1>Портал путешествий ТурСводка.ru</h1>


			<div class="header-top__cabinet">

				<div class="dropdown">
					<div class="cabinet-checkhistory" title="Отслеживать историю" data-toggle="dropdown"><i class="fa fa-history" aria-hidden="true"></i></div>
					<div class="cabinet-dropdown dropdown-menu dropdown-menu-right">
						<p class="hdr c--red">Зарегистрируйтесь сейчас!</p>
						<p class="note">Для отслеживания истории поисков нужно зарегистрироваться или авторизоваться на сайте.</p>
						<a href="#" class="b-link">Регистрация</a>
					</div>
				</div>

				<div class="dropdown">
					<div class="cabinet-fav" title="Добавить в закладки" data-toggle="dropdown"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
					<div class="cabinet-dropdown dropdown-menu dropdown-menu-right">
						<p class="hdr c--red">Добавляйте в избранные!</p>
						<p class="note">Чтобы добавлять отели в список избранных необходимо авторизоваться на сайте.</p>
						<a href="#" class="b-link">Регистрация</a>
					</div>
				</div>

				<div class="dropdown">
					<div class="cabinet-checkhotel" title="Отслеживать отель" data-toggle="dropdown"><i class="fa fa-eye" aria-hidden="true"></i></div>
					<div class="cabinet-dropdown dropdown-menu dropdown-menu-right">
						<p class="hdr c--red">Отслеживайте лучшие цены!</p>
						<p class="note">Чтобы добавлять отели в список отслеживаемых необходимо авторизоваться на сайте.</p>
						<a href="#" class="b-link">Регистрация</a>
					</div>
				</div>

				<div class="dropdown">
					<div class="cabinet-mess" title="Сообщения" data-toggle="dropdown"><i class="fa fa-envelope-o" aria-hidden="true"></i><span class="bulcount bk--red">33</span></div>
					<div class="cabinet-dropdown dropdown-menu dropdown-menu-right">
						<p class="hdr c--red">Зарегистрируйтесь сейчас!</p>
						<p class="note">Получайте персональные предложения, экономьте время, узнавайте о горящих турах и акциях первыми.</p>
						<a href="#" class="b-link">Регистрация</a>
					</div>
				</div>

				<div class="dropdown">
					<div class="cabinet-username" data-toggle="dropdown">
						<div class="username-img"><img src="img/icons/no-user-g.svg" alt=""></div>Иванов Алексей
					</div>
					<div class="cabinet-username-dropdown cabinet-dropdown dropdown-menu dropdown-menu-right">
						<div class="username_block open">
							<div class="username_block-img"><img src="img/icons/no-user-g.svg" alt=""></div>Иванов Алексей
						</div>
						<div class="username_block">
							<div class="username_block-img"><img src="img/icons/no-user-g.svg" alt=""></div>Константинопольский<br>Константин Максимилианович
						</div>
						<div class="username_block">
							<div class="username_block-img"><img src="img/_tmp/logo-so1.png" alt=""></div>Турфирма "Мария"
						</div>
						<div class="username_block">
							<div class="username_block-img"><img src="img/icons/no-firm-g.svg" alt=""></div>Турфирма "Неизвестная"
						</div>
						<div class="username_block">
							<div class="username_block-img"><img src="img/icons/no-firm-g.svg" alt=""></div>Турфирма "Другая"
						</div>
						<div class="username_block">
							<div class="username_block-img"><img src="img/icons/no-hotel-g.svg" alt=""></div>Отель Постоянный 5*
						</div>
						<div class="username_block">
							<div class="username_block-img"><img src="img/icons/no-firm-g.svg" alt=""></div>Дополнительный аккаунт
						</div>
						<div class="username_tool">
							<a href="#" class="username_tool__exit">Выйти из аккаунта<i class="fa fa-sign-out" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>

			</div>

		</div>



		<div class="header-base">

			<div class="header-base__logo">
				<a href="https://www.tursvodka.ru/">
					<img src="img/logo.svg" alt="">
					<div class="slogan hidden-xs">Портал путешествий</div>
				</a>
			</div>


			//= _nav-logged.html


		</div>



		<div class="header-tourpicking">

			//= _tourpicking.html

		</div>



	</div>
</header>
