<header class="header">
	<div class="headerwrap">



		<div class="header-top hidden-xs">


			<h1>Портал путешествий ТурСводка.ru</h1>


			<div class="header-top__cabinet">

				<div class="dropdown">
					<div class="cabinet-checkhistory" title="Отслеживать историю" data-toggle="dropdown"><i class="fa fa-history" aria-hidden="true"></i></div>
					<div class="cabinet-dropdown dropdown-menu dropdown-menu-right">
						<p class="hdr c--red">Зарегистрируйтесь сейчас!</p>
						<p class="note">Для отслеживания истории поисков нужно зарегистрироваться или авторизоваться на сайте.</p>
						<a href="#" class="b-link">Регистрация</a>
					</div>
				</div>

				<div class="dropdown">
					<div class="cabinet-fav" title="Добавить в закладки" data-toggle="dropdown"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
					<div class="cabinet-dropdown dropdown-menu dropdown-menu-right">
						<p class="hdr c--red">Добавляйте в избранные!</p>
						<p class="note">Чтобы добавлять отели в список избранных необходимо авторизоваться на сайте.</p>
						<a href="#" class="b-link">Регистрация</a>
					</div>
				</div>

				<div class="dropdown">
					<div class="cabinet-checkhotel" title="Отслеживать отель" data-toggle="dropdown"><i class="fa fa-eye" aria-hidden="true"></i></div>
					<div class="cabinet-dropdown dropdown-menu dropdown-menu-right">
						<p class="hdr c--red">Отслеживайте лучшие цены!</p>
						<p class="note">Чтобы добавлять отели в список отслеживаемых необходимо авторизоваться на сайте.</p>
						<a href="#" class="b-link">Регистрация</a>
					</div>
				</div>

				<div class="dropdown">
					<div class="cabinet-mess" title="Сообщения" data-toggle="dropdown"><i class="fa fa-envelope-o" aria-hidden="true"></i><span class="bulcount bk--red">33</span></div>
					<div class="cabinet-dropdown dropdown-menu dropdown-menu-right">
						<p class="hdr c--red">Зарегистрируйтесь сейчас!</p>
						<p class="note">Получайте персональные предложения, экономьте время, узнавайте о горящих турах и акциях первыми.</p>
						<a href="#" class="b-link">Регистрация</a>
					</div>
				</div>

				<div class="dropdown">
					<div class="cabinet-enter" data-toggle="dropdown"><i class="fa fa-user-circle-o"></i>Личный кабинет</div>
					<div class="cabinet-enter-dropdown cabinet-dropdown dropdown-menu dropdown-menu-right">
						<form name="fm-cabinet-enter" id="fm-cabinet-enter">
							<p class="hdr">Авторизация</p>
							<div class="form-group">
								<label for="fld-cabinet-enter_email">Ваш email</label>
								<input type="email" id="fld-cabinet-enter_email" class="form-control">
							</div>
							<div class="form-group">
								<label for="fld-cabinet-enter_pass">Ваш пароль</label>
								<input type="password" id="fld-cabinet-enter_pass" class="form-control">
							</div>
							<button class="b-link" type="submit">Войти</button>
							<div class="clearfix">
								<a href="#" class="i-link"><strong>Регистрация</strong></a>&nbsp;/&nbsp;<a href="#" class="i-link">Забыли пароль?</a>
							</div>
						</form>
					</div>
				</div>

			</div>


		</div>



		<div class="header-base">


			<a href="https://www.tursvodka.ru/" class="header-base__logo">
				<div class="slogan hidden-xs">Портал путешествий</div>
			</a>


			//= _nav.html


			<div class="block-regionsubmit hidden-xs">
				<p>Ваш город «Петроправловск-Камчатский»?</p>
				<p>Кликнув «Да», вы увидите туры с вылетом из этого города, телефоны и адреса местных офисов.</p>
				<div class="clearfix">
					<button class="b-btn" onclick="javascript:$('.block-regionsubmit').hide()">Да</button>
					<button class="b-btn nofocused" onclick="javascript:$('.block-regionsubmit').hide()">Нет</button>
				</div>
			</div>


		</div>



	</div>
</header>



<div class="header-tourpicking">

	//= _tourpicking.html

</div>


