<div class="modal fade" id="modal__call" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">


			<div class="modal-header">
				<h1>Заказать звонок</h1>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>


			<div class="modal-body">

				<p class="modal-body__note">Заполнив форму ниже, Вы можете быть уверены, что мы свяжемся с Вами в ближайшее время.</p>

				<form role="form" action="" name="fm-contacts" id="fm-contacts">
					<div class="form-group">
						<label for="fld-cname">Ваши ФИО</label>
						<input type="text" id="fld-cname" class="form-control">
					</div>
					<div class="form-group">
						<label for="fld-ctel">Ваш телефон</label>
						<input type="tel" id="fld-ctel" class="form-control">
					</div>
					<div class="align-block"><div class="align-cr"><div class="align-cl">
						<button type="submit" name="b-submit__contact" class="b-formbtn" data-dismiss="modal">ЗАКАЗАТЬ ЗВОНОК</button>
					</div></div></div>
				</form>

			</div>


		</div>
	</div>
</div>





<div class="modal fade" id="modal__mess" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">


			<div class="modal-header">
				<h1>Оставить заявку</h1>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>


			<div class="modal-body">

				<form role="form" action="" name="fm-applic" id="fm-applic">
					<div class="form-group">
						<label for="fld-name">Ваши ФИО</label>
						<input type="text" id="fld-name" class="form-control">
					</div>
					<div class="form-group">
						<label for="fld-tel">Ваш телефон</label>
						<input type="tel" id="fld-tel" class="form-control">
					</div>
					<div class="form-group">
						<label for="fld-email">Ваш email</label>
						<input type="email" id="fld-email" class="form-control">
					</div>
					<div class="form-group">
						<label for="fld-message">Сообщение</label>
						<textarea rows="5" id="fld-message" class="form-control"></textarea>
					</div>
					<div class="align-block"><div class="align-cr"><div class="align-cl">
						<button type="submit" name="b-submit__applic" class="b-formbtn" data-dismiss="modal">ОТПРАВИТЬ СООБЩЕНИЕ</button>
					</div></div></div>
				</form>

			</div>


		</div>
	</div>
</div>






<div class="modal fade" id="modal__calctour" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">



			<div class="modal-header">
				<h1>Рассчитайте стоимость своего путешествия</h1>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>



			<div class="modal-body">

				<div class="block-calctour">


					<ul class="calctour-nav nav nav-tabs">
						<li class="calctour-nav__item active">
							<a href="#calctour-1" data-toggle="tab">
								<span title="Шаг 1">1</span>
							</a>
						</li>
						<li class="calctour-nav__item disabled">
							<a href="#calctour-2" data-toggle="tab">
								<span title="Шаг 2">2</span>
							</a>
						</li>
						<li class="calctour-nav__item disabled">
							<a href="#calctour-3" data-toggle="tab">
								<span title="Шаг 3">3</span>
							</a>
						</li>
						<li class="calctour-nav__item disabled">
							<a href="#calctour-4" data-toggle="tab">
								<span title="Шаг 4">4</span>
							</a>
						</li>
						<li class="calctour-nav__item disabled">
							<a href="#calctour-5" data-toggle="tab">
								<span title="Шаг 5">5</span>
							</a>
						</li>
					</ul>


					<form role="form" action="" name="fm-calctour" id="fm-calctour">

						<div class="calctour-content tab-content">

							<div id="calctour-1" class="calctour-item tab-pane fade in active">
								<div class="calctour-body">
									<h2>Где вы хотите отдохнуть?</h2>
									<div class="form-group">
										<label for="fld-calctour__full-resort">Выберите страну:</label>
										<select name="fld-calctour__full-resort" id="fld-calctour__full-resort" class="form-control">
											<option value="1">Абхазия</option>
											<option value="2">Австралия</option>
											<option value="3">Австрия</option>
											<option value="4">Азербайджан</option>
											<option value="5">Албания</option>
											<option value="6">Ангилья</option>
											<option value="7">Андорра</option>
											<option value="184">Антарктида</option>
											<option value="8">Антигуа</option>
											<option value="9">Аргентина</option>
											<option value="10">Армения</option>
											<option value="11">Аруба</option>
											<option value="12">Багамы</option>
											<option value="13">Бангладеш</option>
											<option value="14">Барбадос</option>
											<option value="15">Бахрейн</option>
											<option value="16">Беларусь</option>
											<option value="17">Белиз</option>
											<option value="18">Бельгия</option>
											<option value="180">Бермудские острова</option>
											<option value="19" class="option_bold">Болгария</option>
											<option value="20">Боливия</option>
											<option value="21">Босния и Герцеговина</option>
											<option value="22">Ботсвана</option>
											<option value="23">Бразилия</option>
											<option value="24">Бруней</option>
											<option value="25">Буркина-Фасо</option>
											<option value="190">Бутан</option>
											<option value="26">Великобритания</option>
											<option value="27">Венгрия</option>
											<option value="28">Венесуэла</option>
											<option value="29">Вьетнам</option>
											<option value="154">Гана</option>
											<option value="30">Гваделупа</option>
											<option value="31">Гватемала</option>
											<option value="149">Германия</option>
											<option value="33">Гондурас</option>
											<option value="179">Гонконг</option>
											<option value="34">Гренада</option>
											<option value="35" class="option_bold">Греция</option>
											<option value="36">Грузия</option>
											<option value="37">Дания</option>
											<option value="38">Джибути</option>
											<option value="39">Доминикана</option>
											<option value="41">Замбия</option>
											<option value="42">Зимбабве</option>
											<option value="43" class="option_bold">Израиль</option>
											<option value="44">Индия</option>
											<option value="45">Индонезия</option>
											<option value="46">Иордания</option>
											<option value="47">Иран</option>
											<option value="48">Ирландия</option>
											<option value="49">Исландия</option>
											<option value="50" class="option_bold">Испания</option>
											<option value="51" class="option_bold">Италия</option>
											<option value="52">Кабо-Верде</option>
											<option value="53">Казахстан</option>
											<option value="54">Камбоджа</option>
											<option value="55">Канада</option>
											<option value="56">Катар</option>
											<option value="57">Кения</option>
											<option value="58" class="option_bold">Кипр</option>
											<option value="59">Китай</option>
											<option value="171">Колумбия</option>
											<option value="155">Конго</option>
											<option value="60">Коста-Рика</option>
											<option value="61">Куба</option>
											<option value="62">Кыргызcтан</option>
											<option value="200">Кюрасао</option>
											<option value="63">Лаос</option>
											<option value="64">Латвия</option>
											<option value="65">Ливан</option>
											<option value="66">Литва</option>
											<option value="67">Люксембург</option>
											<option value="68">Маврикий</option>
											<option value="69">Мадагаскар</option>
											<option value="70">Македония</option>
											<option value="71">Малайзия</option>
											<option value="157">Мали</option>
											<option value="72" class="option_bold">Мальдивы</option>
											<option value="73" class="option_bold">Мальта</option>
											<option value="74">Марианские о-ва</option>
											<option value="75" class="option_bold">Марокко</option>
											<option value="76">Мартиника</option>
											<option value="77">Мексика</option>
											<option value="78">Мозамбик</option>
											<option value="79">Молдавия</option>
											<option value="80" class="option_bold">Монако</option>
											<option value="81">Монголия</option>
											<option value="82">Мьянма (Бирма)</option>
											<option value="83">Намибия</option>
											<option value="84">Непал</option>
											<option value="86" class="option_bold">Нидерланды</option>
											<option value="177">Никарагуа</option>
											<option value="87">Новая Зеландия</option>
											<option value="88">Норвегия</option>
											<option value="89">о. Кука</option>
											<option value="90" class="option_bold">ОАЭ</option>
											<option value="91">Оман</option>
											<option value="92">Пакистан</option>
											<option value="172">Палау</option>
											<option value="93">Панама</option>
											<option value="95">Парагвай</option>
											<option value="96">Перу</option>
											<option value="98">Польша</option>
											<option value="99" class="option_bold">Португалия</option>
											<option value="100">Реюньон</option>
											<option value="150" class="option_bold">Россия</option>
											<option value="102">Румыния</option>
											<option value="103">Саудовская Аравия</option>
											<option value="104">Свазиленд</option>
											<option value="199">Северная Корея</option>
											<option value="105">Сейшелы</option>
											<option value="189">Сен-Мартен</option>
											<option value="158">Сенегал</option>
											<option value="195">Сент-Винсент и Гренадины</option>
											<option value="194">Сент-Китс и Невис</option>
											<option value="106">Сент-Люсия</option>
											<option value="107">Сербия</option>
											<option value="108">Сингапур</option>
											<option value="109">Сирия</option>
											<option value="110">Словакия</option>
											<option value="111">Словения</option>
											<option value="159">Судан</option>
											<option value="112">США</option>
											<option value="113" selected="selected" class="option_bold">Таиланд</option>
											<option value="114">Тайвань</option>
											<option value="115">Танзания</option>
											<option value="116">Теркс и Кайкос</option>
											<option value="156">Того</option>
											<option value="117" class="option_bold">Тунис</option>
											<option value="118">Туркменистан</option>
											<option value="119" class="option_bold">Турция</option>
											<option value="161">Уганда</option>
											<option value="120">Узбекистан</option>
											<option value="121">Украина</option>
											<option value="122">Фиджи</option>
											<option value="123">Филиппины</option>
											<option value="124" class="option_bold">Финляндия</option>
											<option value="125" class="option_bold">Франция</option>
											<option value="169">Французская Полинезия</option>
											<option value="126" class="option_bold">Хорватия</option>
											<option value="127" class="option_bold">Черногория</option>
											<option value="128" class="option_bold">Чехия</option>
											<option value="129">Чили</option>
											<option value="130">Швейцария</option>
											<option value="131" class="option_bold">Швеция</option>
											<option value="132" class="option_bold">Шри-Ланка</option>
											<option value="133">Эквадор</option>
											<option value="134">Эстония</option>
											<option value="135">Эфиопия</option>
											<option value="136">ЮАР</option>
											<option value="137">Южная Корея</option>
											<option value="138">Ямайка</option>
											<option value="139">Япония</option>
										</select>
									</div>
								</div>
								<div class="calctour-bottom">
									<div class="row">
										<div class="col-xs-6"></div>
										<div class="col-xs-6 text-right">
											<a href="#" class="b-formbtn calctour-next">Далее</a>
										</div>
									</div>
								</div>
							</div>

							<div id="calctour-2" class="calctour-item tab-pane fade">
								<div class="calctour-body">
									<h2>Какая дата вылета Вам будет удобна?</h2>
									<div class="form-group">
										<label for="df">Интервал дат вылета:</label>
										<div class="input-daterange input-group hasdatepicker-daterange" id="fld-search__order-df" title="Интервал дат вылета">
											<input type="text" name="df" id="df" value="31.01.2020" class="form-control ts_app_datepickerdf" style="border: 1px solid rgb(204, 204, 204);">
											<span class="input-group-addon">-</span>
											<input type="text" name="dt" id="dt" value="07.02.2020" class="form-control ts_app_datepickerdt" style="border: 1px solid rgb(204, 204, 204);">
										</div>
									</div>
								</div>
								<div class="calctour-bottom">
									<div class="row">
										<div class="col-xs-6">
											<a href="#" class="b-formbtn b--gray calctour-back">
												Назад
											</a>
										</div>
										<div class="col-xs-6 text-right">
											<a href="#" class="b-formbtn calctour-next">
												Далее
											</a>
										</div>
									</div>
								</div>
							</div>

							<div id="calctour-3" class="calctour-item tab-pane fade">
								<div class="calctour-body">
									<h2>Количество ночей</h2>
									<div class="form-group-inline">
										<div class="form-group col-xs-6">
											<label for="dayfrom">Ночей от:</label>
											<input type="number" name="dayfrom" id="dayfrom" value="7" min="1" max="34" class="form-control" style="border: 1px solid rgb(204, 204, 204);">
										</div>
										<div class="form-group col-xs-6">
											<label for="dayto">до:</label>
											<input type="number" name="dayto" id="dayto" value="14" min="1" max="34" class="form-control" style="border: 1px solid rgb(204, 204, 204);">
										</div>
									</div>
								</div>
								<div class="calctour-bottom">
									<div class="row">
										<div class="col-xs-6">
											<a href="#" class="b-formbtn b--gray calctour-back">
												Назад
											</a>
										</div>
										<div class="col-xs-6 text-right">
											<a href="#" class="b-formbtn calctour-next">
												Далее
											</a>
										</div>
									</div>
								</div>
							</div>

							<div id="calctour-4" class="calctour-item tab-pane fade">
								<div class="calctour-body">
									<h2>Количество взрослых и детей</h2>
									<div class="form-group-inline">
										<div class="form-group col-xs-6">
											<label for="adult">Взрослых:</label>
											<input type="number" name="adult" id="adult" value="2" min="1" max="5" class="form-control" style="border: 1px solid rgb(204, 204, 204);">
										</div>
										<div class="form-group col-xs-6">
											<label for="kid">Детей:</label>
											<input type="number" name="kid" id="kid" value="0" min="0" max="3" class="form-control" style="border: 1px solid rgb(204, 204, 204);">
										</div>
									</div>
								</div>
								<div class="calctour-bottom">
									<div class="row">
										<div class="col-xs-6">
											<a href="#" class="b-formbtn b--gray calctour-back">
												Назад
											</a>
										</div>
										<div class="col-xs-6 text-right">
											<a href="#" class="b-formbtn calctour-next">
												Далее
											</a>
										</div>
									</div>
								</div>
							</div>

							<div id="calctour-5" class="calctour-item tab-pane fade">
								<div class="calctour-body">
									<h2>Контакты для отправки расчёта</h2>
									<p class="modal-body__note">Телефон и почта нужны исключительно для подтверждения того, что вы реальный человек. Никакого спама, только реальный расчёт стоимости тура</p>
								</div>
								<div class="calctour-bottom">
									<div class="row">
										<div class="col-xs-12">
											<button type="submit" class="b-formbtn"><strong>Расчитать стоимость тура</strong></button>
										</div>
									</div>
								</div>
							</div>

						</div>
					</form>


				</div>

			</div>



		</div>
	</div>
</div>





//= _consult-popup.html