<div class="modal fade" id="modal__call" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">


			<div class="modal-header">
				<h1>Заказать звонок</h1>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>


			<div class="modal-body">

				<p class="modal-body__note">Заполнив форму ниже, Вы можете быть уверены, что мы свяжемся с Вами в ближайшее время.</p>

				<form role="form" action="" name="fm-contacts" id="fm-contacts">
					<div class="form-group">
						<label for="fld-cname">Ваши ФИО</label>
						<input type="text" id="fld-cname" class="form-control">
					</div>
					<div class="form-group">
						<label for="fld-ctel">Ваш телефон</label>
						<input type="tel" id="fld-ctel" class="form-control">
					</div>
					<div class="align-block"><div class="align-cr"><div class="align-cl">
						<button type="submit" name="b-submit__contact" class="b-formbtn" data-dismiss="modal">ЗАКАЗАТЬ ЗВОНОК</button>
					</div></div></div>
				</form>

			</div>


		</div>
	</div>
</div>





<div class="modal fade" id="modal__mess" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">


			<div class="modal-header">
				<h1>Оставить заявку</h1>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>


			<div class="modal-body">

				<form role="form" action="" name="fm-applic" id="fm-applic">
					<div class="form-group">
						<label for="fld-name">Ваши ФИО</label>
						<input type="text" id="fld-name" class="form-control">
					</div>
					<div class="form-group">
						<label for="fld-tel">Ваш телефон</label>
						<input type="tel" id="fld-tel" class="form-control">
					</div>
					<div class="form-group">
						<label for="fld-email">Ваш email</label>
						<input type="email" id="fld-email" class="form-control">
					</div>
					<div class="form-group">
						<label for="fld-message">Сообщение</label>
						<textarea rows="5" id="fld-message" class="form-control"></textarea>
					</div>
					<div class="align-block"><div class="align-cr"><div class="align-cl">
						<button type="submit" name="b-submit__applic" class="b-formbtn" data-dismiss="modal">ОТПРАВИТЬ СООБЩЕНИЕ</button>
					</div></div></div>
				</form>

			</div>


		</div>
	</div>
</div>





//= _consult-popup.html




