<div class="navigation-block">
	<nav class="navbar navbar-custom">




		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainmenu"><i class="fa fa-bars"></i></button>
		</div>




		<div class="collapse navbar-collapse" id="mainmenu">



			<div class="navbar-cabinet visible-xs">

				<div class="dropdown">
					<div class="cabinet-enter" data-toggle="dropdown"><a href="#"><i class="fa fa-user-circle-o"></i>Личный кабинет</a></div>
					<div class="cabinet-enter-dropdown cabinet-dropdown dropdown-menu">
						<form name="fm-cabinet-enter-xs" id="fm-cabinet-enter-xs">
							<p class="hdr">Авторизация</p>
							<div class="form-group">
								<label for="fld-cabinet-enter_email-xs">Ваш email</label>
								<input type="email" id="fld-cabinet-enter_email-xs" class="form-control">
							</div>
							<div class="form-group">
								<label for="fld-cabinet-enter_pass-xs">Ваш пароль</label>
								<input type="password" id="fld-cabinet-enter_pass-xs" class="form-control">
							</div>
							<button class="b-link" type="submit">Войти</button>
							<div class="clearfix">
								<a href="#" class="i-link"><strong>Регистрация</strong></a>&nbsp;/&nbsp;<a href="#" class="i-link">Забыли пароль?</a>
							</div>
						</form>
					</div>
				</div>

				<div class="cabinet-icons">
					<a href="#" class="cabinet-icons__mess" title="Сообщения"><i class="fa fa-envelope-o"></i><span class="bulcount bk--red">33</span></a>
					<a href="#" class="cabinet-icons__checkhotel" title="Отслеживать отель"><i class="fa fa-eye"></i></a>
					<a href="#" class="cabinet-icons__fav" title="Добавить в закладки"><i class="fa fa-heart-o"></i></a>
					<a href="#" class="cabinet-icons__checkhistory" title="Отслеживать историю"><i class="fa fa-history"></i></a>
				</div>

			</div>



			<form class="navbar-form navbar-left" role="search">
				<input type="search" name="navbar-form__fld-search" placeholder="поиск по сайту, стране, курорту, отелю...">
			</form>



			<div class="navbar-region dropdown">

				<div class="navbar-region__fld-region dropdown-toggle hidden-xs" data-toggle="dropdown">
					<span>Ваш город:</span> Санкт-Петербург<i class="fa fa-caret-down"></i>
				</div>
				<div class="navbar-region__fld-region visible-xs">
					<span>Ваш город:</span> <a href="#">Санкт-Петербург</a>
				</div>

				<div class="navbar-region__plate dropdown-menu dropdown-menu-right animated fadeIn">
					<form name="fm-region-search" class="plate-search">
						<i class="fa fa-search"></i>
						<input type="text" name="fld-region-search" placeholder="поиск по городу">
					</form>
					<div class="row">
						<div class="col-sm-2">
							<ul>
								<li class="lither">A</li>
								<li><a href="#">Абакан</a></li>
								<li><a href="#">Анапа</a></li>
								<li><a href="#">Арзамас</a></li>
								<li><a href="#">Архангельск</a></li>
							</ul>
							<ul>
								<li class="lither">Б</li>
								<li><a href="#">Балаково</a></li>
								<li><a href="#">Барнаул</a></li>
								<li><a href="#">Белгород</a></li>
								<li><a href="#">Бийск</a></li>
								<li><a href="#">Брянск</a></li>
							</ul>
							<ul>
								<li class="lither">В</li>
								<li><a href="#">Владикавказ</a></li>
								<li><a href="#">Владимир</a></li>
								<li><a href="#">Волгоград</a></li>
								<li><a href="#">Волоколамск</a></li>
								<li><a href="#">Воронеж</a></li>
							</ul>
							<ul>
								<li class="lither">Д</li>
								<li><a href="#">Дзержинск</a></li>
								<li><a href="#">Домодедово</a></li>
							</ul>
						</div>
						<div class="col-sm-2">
							<ul>
								<li class="lither">Е</li>
								<li><a href="#">Егорьевск</a></li>
								<li><a href="#">Екатеринбург</a></li>
							</ul>
							<ul>
								<li class="lither">Ж</li>
								<li><a href="#">Жуковский</a></li>
							</ul>
							<ul>
								<li class="lither">З</li>
								<li><a href="#">Зеленоград</a></li>
							</ul>
							<ul>
								<li class="lither">И</li>
								<li><a href="#">Иваново</a></li>
								<li><a href="#">Ивантеевка</a></li>
								<li><a href="#">Ижевск</a></li>
							</ul>
							<ul>
								<li class="lither">К</li>
								<li><a href="#">Казань</a></li>
								<li><a href="#">Калининград</a></li>
								<li><a href="#">Калуга</a></li>
								<li><a href="#">Киров</a></li>
								<li><a href="#">Клинцы</a></li>
								<li><a href="#">Коломна</a></li>
								<li><a href="#">Королев</a></li>
								<li><a href="#">Кострома</a></li>
								<li><a href="#">Краснодар</a></li>
								<li><a href="#">Красноярск</a></li>
								<li><a href="#">Курск</a></li>
							</ul>
						</div>
						<div class="col-sm-2">
							<ul>
								<li class="lither">Л</li>
								<li><a href="#">Липецк</a></li>
								<li><a href="#">Лукоянов</a></li>
								<li><a href="#">Люберцы</a></li>
							</ul>
							<ul>
								<li class="lither">М</li>
								<li><a href="#">Магадан</a></li>
								<li><a href="#">Москва</a></li>
								<li><a href="#">Мурманск</a></li>
							</ul>
							<ul>
								<li class="lither">Н</li>
								<li><a href="#">Нефтеюганск</a></li>
								<li><a href="#">Нижний Новгород</a></li>
								<li><a href="#">Новокузнецк</a></li>
								<li><a href="#">Новосибирск</a></li>
								<li><a href="#">Новый Уренгой</a></li>
								<li><a href="#">Норильск</a></li>
								<li><a href="#">Нягань</a></li>
							</ul>
							<ul>
								<li class="lither">О</li>
								<li><a href="#">Обнинск</a></li>
								<li><a href="#">Одинцово</a></li>
								<li><a href="#">Омск</a></li>
								<li><a href="#">Орел</a></li>
								<li><a href="#">Орехово-Зуево</a></li>
							</ul>
						</div>
						<div class="col-sm-2">
							<ul>
								<li class="lither">П</li>
								<li><a href="#">Пенза</a></li>
								<li><a href="#">Подольск</a></li>
								<li><a href="#">Пугачев</a></li>
								<li><a href="#">Пурпе</a></li>
								<li><a href="#">Пятигорск</a></li>
							</ul>
							<ul>
								<li class="lither">Р</li>
								<li><a href="#">Ростов-на-Дону</a></li>
								<li><a href="#">Рыбинск</a></li>
								<li><a href="#">Рязань</a></li>
							</ul>
							<ul>
								<li class="lither">С</li>
								<li><a href="#">Самара</a></li>
								<li><a href="#">Санкт-Петербург</a></li>
								<li><a href="#">Саранск</a></li>
								<li><a href="#">Сарапул</a></li>
								<li><a href="#">Саратов</a></li>
								<li><a href="#">Сафоново</a></li>
								<li><a href="#">Севастополь</a></li>
								<li><a href="#">Симферополь</a></li>
								<li><a href="#">Сочи</a></li>
								<li><a href="#">Ставрополь</a></li>
								<li><a href="#">Стрежевой</a></li>
								<li><a href="#">Сыктывкар</a></li>
							</ul>
						</div>
						<div class="col-sm-2">
							<ul>
								<li class="lither">Т</li>
								<li><a href="#">Тверь</a></li>
								<li><a href="#">Тольятти</a></li>
								<li><a href="#">Тула</a></li>
								<li><a href="#">Тюмень</a></li>
							</ul>
							<ul>
								<li class="lither">У</li>
								<li><a href="#">Удомля</a></li>
								<li><a href="#">Ульяновск</a></li>
								<li><a href="#">Уфа</a></li>
								<li><a href="#">Ухта</a></li>
							</ul>
							<ul>
								<li class="lither">Х</li>
								<li><a href="#">Ханты-Мансийск</a></li>
								<li><a href="#">Химки</a></li>
							</ul>
							<ul>
								<li class="lither">Ч</li>
								<li><a href="#">Чебоксары</a></li>
								<li><a href="#">Челябинск</a></li>
								<li><a href="#">Череповец</a></li>
							</ul>
							<ul>
								<li class="lither">Щ</li>
								<li><a href="#">Щелково</a></li>
							</ul>
						</div>
						<div class="col-sm-2">
							<ul>
								<li class="lither">Ю</li>
								<li><a href="#">Югорск</a></li>
								<li><a href="#">Южно-Сахалинск</a></li>
							</ul>
							<ul>
								<li class="lither">Я</li>
								<li><a href="#">Ярославль</a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>



			<ul class="nav navbar-nav">

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Туры</a>
					<ul class="dropdown-menu animated fadeIn">
						<li><a href="#"><strong>Поиск тура</strong></a></li>
						<li><a href="#">Раннее бронирование</a></li>
						<li><a href="#">Горящие туры</a></li>
						<li><a href="#">Пляжный отдых</a></li>
						<li><a href="#">Шоп-туры</a></li>
						<li><a href="#">Туры на 23 февраля</a></li>
						<li><a href="#">Туры на 8 марта</a></li>
						<li><a href="#">Туры на майские праздники</a></li>
						<li><a href="#">Отдых на островах</a></li>
						<li><a href="#">Детский отдых</a></li>
						<li><a href="#">Экзотические туры</a></li>
						<li><a href="#">Туры выходного дня</a></li>
						<li><a href="#">Свадебные путешествия</a></li>
						<li><a href="#">Отдых на горнолыжных курортах</a></li>
						<li><a href="#">Все туры</a></li>
					</ul>
				</li>

				<li><a href="#">Авиабилеты</a></li>

				<li class="hidden-xs"><a href="#" class="dropdown-country">Страны</a></li>
				<li class="visible-xs"><a href="#">Страны</a></li>

				<li><a href="#">Отели</a></li>

				<li><a href="#">Попутчики</a></li>

				<li><a href="#">Отзывы</a></li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Турбизнес</a>
					<ul class="dropdown-menu dropdown-menu-right animated fadeIn">
						<li><a href="#">Спецпредложения</a></li>
						<li><a href="#">Каталог турфирм</a></li>
						<li><a href="#">Каталог сайтов</a></li>
						<li><a href="#">Новости и анонсы</a></li>
						<li><a href="#">Пресс-релизы</a></li>
						<li><a href="#">Работа в туризме</a></li>
						<li><a href="#">Туристические выставки</a></li>
					</ul>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Еще...</a>
					<ul class="dropdown-menu dropdown-menu-right animated fadeIn">
						<li><a href="#">Новости туризма</a></li>
						<li><a href="#">Туристу на заметку</a></li>
						<li><a href="#">Календарь событий</a></li>
						<li><a href="#">Рассказы туристов</a></li>
						<li><a href="#">Карта мира</a></li>
						<li><a href="#">Курсы валют ЦБ РФ</a></li>
						<li><a href="#">Курсы валют ЕЦБ</a></li>
						<li><a href="#">Погода в мире</a></li>
						<li><a href="#">Оформление виз</a></li>
						<li><a href="#">Посольства и консульства</a></li>
						<li><a href="#">Глоссарий</a></li>
						<li><a href="#">Опросы</a></li>
						<li><a href="#">Вопросы и ответы</a></li>
					</ul>
				</li>

			</ul>


			<div class="nav-country animated fadeIn">
				<div class="row">

					<div class="nav-country__tabs col-sm-3">
						<ul>
							<li class="active"><a href="#nav-country_tab1" data-toggle="tab"><strong>ТОП стран</strong></a></li>
							<li><a href="#nav-country_tab2" data-toggle="tab">Европа</a></li>
							<li><a href="#nav-country_tab3" data-toggle="tab">Азия</a></li>
							<li><a href="#nav-country_tab4" data-toggle="tab">Америка</a></li>
							<li><a href="#nav-country_tab5" data-toggle="tab">Африка</a></li>
							<li><a href="#nav-country_tab6" data-toggle="tab">Австралия и Океания</a></li>
						</ul>
					</div>

					<div class="nav-country__content col-sm-9">
						<!-- tab 1 -->
						<div class="nav-country_pane active" id="nav-country_tab1">
							<div class="row">
								<div class="col-sm-3">
									<ul>
										<li><a href="#"><span class="flag-icon flag-icon-at"></span>Австрия</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-bg"></span>Болгария</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-vn"></span>Вьетнам</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-gr"></span>Греция</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-eg"></span>Египет</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-il"></span>Израиль</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-in"></span>Индия</a></li>
									</ul>
								</div>
								<div class="col-sm-3">
									<ul>
										<li><a href="#"><span class="flag-icon flag-icon-id"></span>Индонезия</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-jo"></span>Иордания</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-es"></span>Испания</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-it"></span>Италия</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-ke"></span>Кения</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-cy"></span>Кипр</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-ch"></span>Китай</a></li>
									</ul>
								</div>
								<div class="col-sm-3">
									<ul>
										<li><a href="#"><span class="flag-icon flag-icon-cu"></span>Куба</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-mu"></span>Маврикий</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-my"></span>Малайзия</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-mv"></span>Мальдивы</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-mt"></span>Мальта</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-ma"></span>Марокко</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-mx"></span>Мексика</a></li>
									</ul>
								</div>
								<div class="col-sm-3">
									<ul>
										<li><a href="#"><span class="flag-icon flag-icon-ae"></span>ОАЭ</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-pt"></span>Португалия</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-sc"></span>Сейшелы</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-sg"></span>Сингапур</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-th"></span>Таиланд</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- tab 2 -->
						<div class="nav-country_pane" id="nav-country_tab2">
							<div class="row">
								<div class="col-sm-3">
									<ul>
										<li><a href="#"><span class="flag-icon flag-icon-at"></span>Австрия</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-bg"></span>Болгария</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-es"></span>Испания</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-it"></span>Италия</a></li>
									</ul>
								</div>
								<div class="col-sm-3">
									<ul>
										<li><a href="#"><span class="flag-icon flag-icon-fr"></span>Франция</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-hr"></span>Хорватия</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-me"></span>Черногория</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-cz"></span>Чехия</a></li>
									</ul>
								</div>
								<div class="col-sm-3">
									<ul>
										<li><a href="#"><span class="flag-icon flag-icon-mx"></span>Мексика</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-ae"></span>ОАЭ</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-pt"></span>Португалия</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-sc"></span>Сейшелы</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- tab 3 -->
						<div class="nav-country_pane" id="nav-country_tab3">
							<div class="row">
								<div class="col-sm-3">
									<ul>
										<li><a href="#"><span class="flag-icon flag-icon-fr"></span>Франция</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-hr"></span>Хорватия</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-me"></span>Черногория</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-cz"></span>Чехия</a></li>
									</ul>
								</div>
								<div class="col-sm-3">
									<ul>
										<li><a href="#"><span class="flag-icon flag-icon-at"></span>Австрия</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-bg"></span>Болгария</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-es"></span>Испания</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-it"></span>Италия</a></li>
									</ul>
								</div>
								<div class="col-sm-3">
									<ul>
											<li><a href="#"><span class="flag-icon flag-icon-cy"></span>Кипр</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-ch"></span>Китай</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-cu"></span>Куба</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-mu"></span>Маврикий</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- tab 4 -->
						<div class="nav-country_pane" id="nav-country_tab4">
							<div class="row">
								<div class="col-sm-3">
									<ul>
										<li><a href="#"><span class="flag-icon flag-icon-jo"></span>Иордания</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-es"></span>Испания</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-it"></span>Италия</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-ke"></span>Кения</a></li>
									</ul>
								</div>
								<div class="col-sm-3">
									<ul>
										<li><a href="#"><span class="flag-icon flag-icon-cy"></span>Кипр</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-ch"></span>Китай</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-cu"></span>Куба</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-mu"></span>Маврикий</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- tab 5 -->
						<div class="nav-country_pane" id="nav-country_tab5">
							<div class="row">
								<div class="col-sm-3">
									<ul>
										<li><a href="#"><span class="flag-icon flag-icon-fr"></span>Франция</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-hr"></span>Хорватия</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-me"></span>Черногория</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-cz"></span>Чехия</a></li>
									</ul>
								</div>
								<div class="col-sm-3">
									<ul>
										<li><a href="#"><span class="flag-icon flag-icon-mx"></span>Мексика</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-ae"></span>ОАЭ</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-pt"></span>Португалия</a></li>
										<li><a href="#"><span class="flag-icon flag-icon-sc"></span>Сейшелы</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- tab 6 -->
						<div class="nav-country_pane" id="nav-country_tab6">
							<div class="row">
								<div class="col-sm-3">
								<ul>
									<li><a href="#"><span class="flag-icon flag-icon-cy"></span>Кипр</a></li>
									<li><a href="#"><span class="flag-icon flag-icon-ch"></span>Китай</a></li>
								</ul>
							</div>
							</div>
						</div>
					</div>


				</div>
			</div>


		</div>




	</nav>
</div>